# Project exclude paths
/discover-server/target/
/dtx-seata-demo/dtx-seata-demo-bank1/target/
/dtx-seata-demo/dtx-seata-demo-bank2/target/

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
